/**
 * Team: NKU Data Titans
 * Coding by 纪潇洋 2110611, 20231212
 * 战损css
 */
.measures-container {
    height: 700px;
    width: 100%;
}

.measures-shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.description-block {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}
.measures-header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    width: 100%;
}

.measures-title {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    width: 100%;
}

.measures-title::before {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    min-height: 30vh;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 19%;
    width: 0;
    height: 100%;
    color: rgba(99, 3, 255, 0.6);
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px, solid rgba(99, 3, 255, 0.6);
    overflow: hidden;
    animation: animate 6s linear infinite;
    filter: drop-shadow(0px 0px 10px rgba(99, 3, 255, 0.6)) blur(10px);
}

.measure-block {
    position: relative;
    padding: 20px;
    background-color: transparent;
    margin-bottom: 20px;
}

.measure-block h3::after, .measure-block p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    z-index: -1;
}

.measure-block h3, .measure-block p {
    position: relative;
        /* color: #333;  */
    text-align: center; 
}

@keyframes animate {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}
